h1
{
    color:green;
}
body
{
    background-color: grey;
}
h1
{
  text-align: center;
  font-size: calc(12pt + 4vw);
}
section
{
    font-size: 20pt;
    border: 3px white solid;
    margin:5px;
}
li
{
    display:block;
}
*
{
    color:green;
}
nav
{
    font-size:20pt;
    text-align:center;
}
