h1
{
    color:pink;
}
body
{
    background-color: grey;
}
h1
{
  text-align: center;
  font-size: calc(12pt + 4vw);
}
section
{
    font-size: 20pt;
}
li
{
    display:block;
}
*
{
    color:pink;
}
nav
{
    font-size:20pt;
}
