h1  {
    color:green;
}
body {
    background-color: khaki;
}
h2  {
    color:red;
}
section {
  border: 3px white solid; 
  margin: 5px;
}
td, th  {
  border: 2px solid black;
  padding: 15px;
 }
table   {
  border-spacing:0px;
}
th      {
  background-color: green;
}
#gourmetchina  {
    font-size: 30px;
}
